$pesticide-debug: false;
@import "pesticide";

@import "normalize";
@import "compass/css3/shared";
@import "compass/css3/text-shadow";

$leftColumnWith:5%;

$colorSienna:#B04839;
//$colorSuede:#AD907B;
$colorBackground:#D2C5BA;


$sizeSmartPhone:25em; 		 /*400px*/
$sizeSmallScreen:43.5em; 	 /*696px*/
$sizeNormalScreen:47em;		 /*752px*/
$sizeBigScreen:51.25;			 /*820px*/

// $fontHeader:Helvetica,sans-serif;
$fontBody: 'estrangelo-edessa',Georgia,serif;


/* apply a natural box layout model to all elements */
*, *:before, *:after {
  -moz-box-sizing: border-box; 
  -webkit-box-sizing: border-box; 
  box-sizing: border-box;
}

html{
  overflow-y: scroll;
  text-size-adjust: 100%;
}

body{
  font-family: $fontBody;
  background-color: $colorBackground;
	font-size: 1.5em;  
	line-height: 150%;
	
  @media only screen AND (max-width: $sizeSmartPhone) {
    font-size: 1.2em;
  }	
}

img{
	border: none;
	max-width: 100%;
}

li{
	list-style: circle;
}

a{
	text-decoration: none;
}

iframe{
	height: 400px;
	@media only screen AND (max-width: $sizeSmartPhone) {
		height: 8em;
	}	
}

section{
	margin: 3em 2em 3em 2em;
	header{
		font-size: 1.7em;
		font-weight: 700;
	}
	@media only screen AND (max-width: $sizeSmartPhone) {
		margin: 1em;
	}	
}

#mobileonly{
	display: none;
	margin:0em;
}

#logo{
	text-align: center;
}

#navigation{
	text-align: center;
}

#info{}

#contact{}

#waar{
	margin:0em;
	header{
		margin-left: 1.2em;	
		margin-right: 1.2em;
		@media only screen AND (max-width: $sizeSmartPhone) {
			margin-left: 0.6em;	
			margin-right: 0.6em;
		}	
	}
	ul{
		margin-left: 2em;	
		margin-right: 2em;
		@media only screen AND (max-width: $sizeSmartPhone) {
			margin-left: 1em;	
			margin-right: 1em;
		}	
	}
}

#links{}

@media only screen and (max-width: $sizeSmartPhone) {
	#mobileonly{
		height: 1.7em;
		display: block;
		font-size: 1.0em;
		font-weight: 300;
		background-color: $colorSienna;
		text-align: center;

		a{
			text-decoration: none;
			color: white;
			border: 1px solid white;	
			padding-left: 0.3em;
			padding-right: 0.3em;
			padding-bottom: 0.1em;
			margin-left: 0.2em;
	  }
  }
} 

